.tabs-box {
  .tabs {
    display: flex;
    gap: 0 0.7rem;

    li {
      padding: 0.6rem 0.8rem;
      border: 0.1rem solid #ddd;
      cursor: pointer;
      border-radius: 0.8rem;
      
      &.active {
        color: #fff;
        background: #161616;
        border-color: transparent;
      }
    }
  }
}

// mobile
@media screen and (max-width: 750px) {
  .tabs-box {
    .tabs {
      flex-wrap: wrap;
      gap: 0.7rem;
    }
  }
}

// dark mode
body[data-color-mode="dark"] {
  .tabs-box {
    .tabs {
      li {
        &.active {
          color: #161616;
          background: #fff;
        }
      }
    }
  }
}