// primary
$color_primary: #45C4B0;
$color_primary_light: #00a2ff;
$color_primary_deep: #33b39f;

// secondary
$color_secondary: #FA7F08;
$color_secondary_deep: #e17509;

// text
$color_text: #374151;

// background
$color_background: #e9f3f8;
$color_dark_background: #121212;

// black scale
$black: #000;
$black1: #111;
$black3: #333;
$black5: #555;
$black8: #888;
$blackB: #BBB;
$blackDF: #DFDFDF;
$blackF5: #F5F5F5;
$blackF9: #F9F9F9;
$white: #FFF;

// admin
$color_admin_bg: #f7f7f9;
$color_admin_line: #e6e9eb;
$color_admin_th: #8f94a0;
$color_admin_primary: #2ecb72;
$color_admin_primary_light: #d2f6dc;
$color_admin_primary_deep: #20ad5b;
$color_admin_secondary: #7d91e7;
$color_admin_secondary_light: #d6dcfc;

// mixin
@mixin clickableBox() {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.4rem;
  aspect-ratio: 1/1;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all .5s;

  &:hover {
    background: $color_background;
  }
}