// primary
$color_primary: #008cff;
$color_primary_light: #00a2ff;

// secondary
$color_secondary: #ffb700;

// text
$color_text: #374151;

// background
$color_background: #e9f3f8;

// black scale
$black: #000;
$black1: #111;
$black3: #333;
$black5: #555;
$black8: #888;
$blackB: #BBB;
$blackDF: #DFDFDF;
$blackF5: #F5F5F5;
$blackF9: #F9F9F9;
$white: #FFF;

// mixin
@mixin clickableBox() {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.4rem;
  aspect-ratio: 1/1;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all .5s;

  &:hover {
    background: $color_background;
  }
}