@use '@/assets/scss/variable' as v;

.post-wrap {

  tbody tr:hover {
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, .13);
  }

  th {
    height: 4.2rem;
    color: v.$color_admin_th;
    font-weight: 400;
    border-bottom: 0.1rem solid v.$color_admin_line;
  }

  td {
    padding: 0.6rem 1.1rem;
    height: 4.2rem;
    cursor: pointer;

    &:not(:nth-child(2)){
      text-align: center;
    }
  }
}