@use '@/assets/scss/variable' as v;

.project-item {
  position: relative;
  padding: 2.6rem 1.8rem;
  width: 49%;
  min-height: 18.9rem;
  border: 1px solid #e4e6e9;
  border-radius: 1rem;
  cursor: pointer;
  
  &:hover {
    border-color: transparent;

   .company, .title, .description {
     color: #fff;
   }
  }

  &.typeA:hover {
    background: v.$color_secondary;
  }

  &.typeB:hover {
    background: v.$color_primary;
  }

  &.typeC:hover {
    background: v.$color_admin_primary;
  }

  .company {
    font-size: 1.2rem;
    color: #999;
  }

  .title {
    margin: 0.8rem 0 1.3rem;
    font-size: 1.8rem;
    font-weight: 600;
  }

  .description{
    line-height: 1.25;
    word-break: keep-all;
  }

  .skill-list {
    position: absolute;
    width: 100%;
    bottom: 2.6rem;
    left: 1.8rem;

    ul {
      gap: 0 1rem;

      li {
        width: 8.5%;
        box-shadow: 0 0 0.3rem 0.09rem rgba(0, 0, 0, 0.0784313725);
      }
    }
  }
}

// mobile
@media screen and (max-width: 750px) {
  .project-item {
    width: auto;
    padding: 1.8rem 1.8rem 2.2rem;
    min-height: auto;

    .title {
      margin: 0.8rem 0;
      font-size: 1.8rem;
      font-weight: 600;
    }

    .skill-list {
      display: none;
    }
  }
}