@use '@/assets/scss/variable' as v;

.post-category-box {
  margin-bottom: 1.8rem;

  ul {
    display: flex;
    gap: 0 0.8rem;

    li {
      display: inline-block;
      padding: 0.8rem 1.3rem;
      border: 1px solid #eee;
      -webkit-border-radius: 1.6rem;
      -moz-border-radius: 1.6rem;
      border-radius: 0.6rem;
      cursor: pointer;

      &.active {
        color: #fff;
        background: v.$color_primary;
        border-color: transparent;
      }
    }
  }
}

// dark mode
body[data-color-mode="dark"] {
  .post-category-box {
    ul {
      li {
        border: 1px solid #333;

        &.active {
          color: v.$color_dark_background;
          background: v.$white;
        }
      }
    }
  }
}

// mobile
@media screen and (max-width: 750px) {
  .post-category-box {
    ul {
      flex-wrap: wrap;
      gap: 0.8rem;

      li {
        padding: 0.5rem 1rem;
      }
    }
  }
}