@use '@/assets/scss/variable' as v;
.category-wrap {
  margin-bottom: 2rem;

  ul {
    display: flex;
    gap: 0.6rem 0.6rem;

    li {
      padding: 0.8rem 1.5rem;
      border: 0.1rem solid #ccc;
      cursor: pointer;
      border-radius: 2rem;

      &.active {
        color: v.$white;
        background: v.$color_admin_primary;
        border-color: transparent;
      }
    }
  }
}