@use '@/assets/scss/variable' as v;
@mixin whiteBackground {
  background: v.$white;
  border-radius: 0.8rem;
  padding: 2rem 2.4rem;
}

.category-wrap {
  @include whiteBackground;

  .title {
    font-weight: 700;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 0.1rem solid #ccc;
  }

  li {
    padding: 0.8rem 0;
    cursor: pointer;

    &.active {
      font-weight: 700;
    }
  }
}