@use '@/assets/scss/variable' as v;

.container {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .title-box {
    margin-bottom: 1.8rem;

    input {
      padding: 2rem 1.6rem;
      width: 100%;
      font-size: 3.1rem;
      background: v.$white;
      border: none;
      outline: none;
    }
  }

  .editor-box {
    height: calc(100vh - 22rem);
  }

  .button-box {
    position: absolute;
    right: -15rem;
    bottom: 4.6rem;

    button {
      width: 5.6rem;
      background: v.$color_primary;
      transition: all .35s;

      &:hover {
        background: v.$color_primary_deep;
      }
    }
  }
}