@use '@/assets/scss/variable' as v;

.container {
  width: 72rem;
  margin: 0 auto;

  @media screen and (max-width: 750px) {
    width: auto;
  }
}

body[data-color-mode="dark"] {
  .container {
    h3 {
      color: v.$white;
    }
  }
}