@use '@/assets/scss/variable' as v;

.category-box {
  position: relative;
  width: 22.6rem;

  .input-box {
    input {
      width: 100%;
      padding: 0 1.2rem;
      font-size: 1.4rem;
      border: none;
      outline: none;
      height: 3.8rem;
      cursor: pointer;

      &.isDropdown {
        border: 0.1rem solid v.$color_primary;
      }
    }
  }

  .select-wrap {
    position: absolute;
    top: 5.6rem;
    left: 0;
    width: 100%;
    height: 0;
    overflow: hidden;
    z-index: 3;

    &.isDropdown {
      height: 44.2rem;
      transition: height .5s;
    }

    .select-box {
      background: v.$white;
      border-radius: 0.8rem;
      border: 0.1rem solid #ccc;
      filter: drop-shadow(0 0 5px rgba(0, 0, 0, .2));

      ul {
        padding: 1.2rem 0.8rem;

        li {
          padding: 1rem 1.2rem;
          cursor: pointer;
          border-radius: 1.1rem;

          &:nth-child(n+2) {
            margin-top: 1.2rem;
          }

          &:hover {
            background: #adeae1;
          }
        }
      }
    }
  }
}