.career-item-box {
  padding: 2.7rem 2.9rem;
  border: 0.1rem solid #e4e6e9;
  border-radius: 1rem;

  &:nth-child(n+2) {
    margin-top: 2.8rem;
  }

  .title-box {
    position: relative;

    .title {
      font-size: 1.8rem;
      font-weight: 700;
    }

    .description {
      margin-top: 0.9rem;
    }

    .timeline {
      position: absolute;
      top: 0;
      right: 0;
      font-size: 1.3rem;
    }
  }

  .skill-box {
    margin-top: -0.5rem;
    width: 70%;

    ul {
      gap: 0 0.6rem;

      li {
        box-shadow: 0 0 0.3rem 0.09rem rgba(0, 0, 0, 0.0784313725);
      }
    }
  }

  .career-cont-box {
    margin-top: 2.2rem;

    li {
      position: relative;
      padding-left: 1.3rem;

      &:before {
        position: absolute;
        content: '';
        top: 0.4rem;
        left: 0;
        width: 0.5rem;
        height: 0.5rem;
        background: #161616;
        border-radius: 100%;
      }

      &:nth-child(n+2) {
        margin-top: 1.5rem;
      }
    }
  }
}

// mobile
@media screen and (max-width: 750px) {
  .career-item-box {
    padding: 2rem;

    &:nth-child(n+2) {
      margin-top: 2rem;
    }

    .title-box {
      .description {
        line-height: 1.2;
      }
    }

    .skill-box {
      width: auto;

      ul {
        li {
          width: 8%;
        }
      }
    }

    .career-cont-box {
      margin-top: 2.2rem;

      li {
        line-height: 1.2;

        &:before {
          top: 0.6rem;
        }
      }
    }
  }
}